@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}

.glow-border4 {
  position: relative;
  overflow: hidden;
}

.glow-border4::before {
  content: '';
  position: absolute;
  inset: -10%;
  background: conic-gradient(
    from 370deg at 80% 10%,
    hsl(209, 96%, 52%) 0%,
    hsl(293, 96%, 40%),
    25%,
    hsl(152, 96%, 36%) 50%,
    hsl(293, 96%, 40%)75%,
    hsl(209, 96%, 52%) 100%
  );
  z-index: -1;
  animation: spin 10s linear infinite;
  transition: all 0.6s ease;
}

.glow-border4:hover::before {
  inset: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 14px 5px hsl(286, 69%, 51%);
  }
  12.5% {
    box-shadow: 0 0 12px 5px hsl(240, 65%, 51%);
  }
  25% {
    box-shadow: 0 0 14px 5px hsl(194, 66%, 51%);
  }
  37.5% {
    box-shadow: 0 0 12px 5px hsl(170, 65%, 47%);
  }
  50% {
    box-shadow: 0 0 14px 5px hsl(146, 64%, 43%);
  }
  62.5% {
    box-shadow: 0 0 12px 5px hsl(170, 65%, 47%);
  }
  75% {
    box-shadow: 0 0 14px 5px hsl(194, 66%, 51%);
  }
  87.5% {
    box-shadow: 0 0 12px 5px hsl(240, 65%, 51%);
  }
  100% {
    box-shadow: 0 0 14px 5px hsl(286, 69%, 51%);
  }
}

.glow-border:hover {
  animation: glow 5s ease-in-out infinite;
}

@keyframes shape2 {
  0% {
    box-shadow: 0 0 14px 5px hsl(286, 69%, 51%);
    border-radius: 100%;
  }
  12.5% {
    box-shadow: 0 0 12px 5px hsl(240, 65%, 51%);
    border-radius: 3% 42% 6% 39%;
  }
  25% {
    box-shadow: 0 0 14px 5px hsl(194, 66%, 51%);
    border-radius: 41% 94% 7% 63%;
  }
  37.5% {
    box-shadow: 0 0 12px 5px hsl(170, 65%, 47%);
    border-radius: 75% 25% 85% 35%;
  }
  50% {
    box-shadow: 0 0 14px 5px hsl(166, 64%, 43%);
    border-radius: 27% 56% 12% 86%;
  }
  62.5% {
    box-shadow: 0 0 12px 5px hsl(170, 65%, 47%);
    border-radius: 25% 15% 35% 5%;
  }
  75% {
    box-shadow: 0 0 14px 5px hsl(194, 66%, 51%);
    border-radius: 25% 65% 5% 35%;
  }
  87.5% {
    box-shadow: 0 0 12px 5px hsl(240, 65%, 51%);
    border-radius: 5% 55% 65% 35%;
  }
  100% {
    box-shadow: 0 0 14px 5px hsl(286, 69%, 51%);
    border-radius: 100%;
  }
}

.shape2-border:hover {
  animation: shape2 5s ease-in-out infinite;
}

.text-gr {
  background: linear-gradient(
    to bottom right,
    rgb(59, 159, 210),
    rgb(178, 214, 243)
  );

  background-clip: text;

  -webkit-background-clip: text;

  color: transparent;
}

.border-bg {
  background: linear-gradient(
    to bottom right,
    rgb(10, 109, 231),
    rgb(87, 124, 169)
  );
  border: 2px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to bottom right,
    rgb(10, 109, 231),
    rgb(87, 124, 169)
  );
  background-clip: padding-box;
}

.gradient-bg {
  background: linear-gradient(160deg, hsl(247, 96%, 4%), hsl(236, 36%, 60%));
}

.gradient-bg2 {
  background: linear-gradient(60deg, hsl(247, 96%, 4%), hsl(236, 36%, 60%));
}

.custom {
  background-image: url('/bg3.jpg');
  background-size: cover;
  background-position: center;
}
