@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 14px 5px hsl(286, 69%, 51%);
  }
  12.5% {
    box-shadow: 0 0 12px 5px hsl(240, 65%, 51%);
  }
  25% {
    box-shadow: 0 0 14px 5px hsl(194, 66%, 51%);
  }
  37.5% {
    box-shadow: 0 0 12px 5px hsl(170, 65%, 47%);
  }
  50% {
    box-shadow: 0 0 14px 5px hsl(146, 64%, 43%);
  }
  62.5% {
    box-shadow: 0 0 12px 5px hsl(170, 65%, 47%);
  }
  75% {
    box-shadow: 0 0 14px 5px hsl(194, 66%, 51%);
  }
  87.5% {
    box-shadow: 0 0 12px 5px hsl(240, 65%, 51%);
  }
  100% {
    box-shadow: 0 0 14px 5px hsl(286, 69%, 51%);
  }
}

.glow-border:hover {
  animation: glow 5s ease-in-out infinite;
}

@keyframes shape2 {
  0% {
    box-shadow: 0 0 14px 5px hsl(286, 69%, 51%);
    border-radius: 100%;
  }
  12.5% {
    box-shadow: 0 0 12px 5px hsl(240, 65%, 51%);
    border-radius: 3% 42% 6% 39%;
  }
  25% {
    box-shadow: 0 0 14px 5px hsl(194, 66%, 51%);
    border-radius: 41% 94% 7% 63%;
  }
  37.5% {
    box-shadow: 0 0 12px 5px hsl(170, 65%, 47%);
    border-radius: 75% 25% 85% 35%;
  }
  50% {
    box-shadow: 0 0 14px 5px hsl(166, 64%, 43%);
    border-radius: 27% 56% 12% 86%;
  }
  62.5% {
    box-shadow: 0 0 12px 5px hsl(170, 65%, 47%);
    border-radius: 25% 15% 35% 5%;
  }
  75% {
    box-shadow: 0 0 14px 5px hsl(194, 66%, 51%);
    border-radius: 25% 65% 5% 35%;
  }
  87.5% {
    box-shadow: 0 0 12px 5px hsl(240, 65%, 51%);
    border-radius: 5% 55% 65% 35%;
  }
  100% {
    box-shadow: 0 0 14px 5px hsl(286, 69%, 51%);
    border-radius: 100%;
  }
}

.shape2-border:hover {
  animation: shape2 5s ease-in-out infinite;
}

.text-gr {
  background: linear-gradient(
    to bottom right,
    rgb(59, 159, 210),
    rgb(178, 214, 243)
  );

  background-clip: text;

  -webkit-background-clip: text;

  color: transparent;
}

.border-bg {
  background: linear-gradient(
    to bottom right,
    rgb(10, 109, 231),
    rgb(87, 124, 169)
  );
  border: 2px solid transparent; /* Set a transparent border */
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to bottom right,
    rgb(10, 109, 231),
    rgb(87, 124, 169)
  );
  background-clip: padding-box;
}

.gradient-bg {
  background: linear-gradient(
    to bottom right,
    rgb(19, 64, 91),
    rgb(73, 118, 146)
  );
}

.gradient-bg2 {
  background: linear-gradient(-145deg, rgb(87, 124, 169), rgb(39, 33, 116));
}
.gradient-bg3 {
  background: linear-gradient(145deg, rgb(39, 33, 116), rgb(13, 11, 38));
}
.grad-bg4 {
  background: linear-gradient(145deg, hsl(217, 75%, 29%), hsl(194, 66%, 49%));
}

.custom {
  background-image: url('/bg3.jpg');
  background-size: cover;
  background-position: center;
}


